.product-display-main {
    margin-top: 8%;
    margin-left: 8%;
    display: flex;
    flex-direction: column;
  }
  .for-product-display {
    display: flex;
  }
  .for-small-image {
    width: 20%;
    margin-right: 1%;
    height: 15vh;
  }
  .for-small-image img {
    width: 100%;
  }
  .for-large-image {
    width: 40%;
    margin-right: 2%;
  }
  .for-large-image img{
    width: 100%;
  
  }
  .for-product-details {
    padding: 20px 10px;
    width: 45%;
  }
  .for-product-details h3 {
    font-size: clamp(20px, 3.3vw, 40px);
    letter-spacing: 4px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .for-product-details h4 {
    font-size: clamp(15px, 3.3vw, 20px);
    letter-spacing: 4px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #2e2e2e;
  }
  .rating {
    margin-bottom: 10px;
  }
  .product-price {
    font-size: clamp(19px, 3.3vw, 30px);
    font-weight: bold;
    margin-bottom: 10px;
  }
  .description-2 {
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 1.5;
  }
  .add-to-cart {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 8px 8px;
    font-size: clamp(15px, 3.3vw, 20px);
    text-align: center;
    background-color: #007bff;
    transition: all 0.3s ease;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
  }
  
  .wish-icon {
    font-size: 43px;
    margin-top: -4%;
    transition: all 0.3s ease;
    color: #007bff;
    margin-left: 6%;
    cursor: pointer;
  }
  .hr {
    border: 0.1px solid #2e2e2e52;
    margin-top: 5%;
  }
  .cart-and-wish {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  .lists-promo {
    margin-top: 3px;
    padding: 5px;
    color: gray;
  }
  .add-to-cart:hover {
    background-color: rgb(252, 73, 73);
    transform: scale(1.1);
  }
  .wish-icon:hover {
    color: rgb(252, 73, 73);
    transform: scale(1.1);
  }
  .for-description-and-review{
  margin-top: 10%;
  }
  .for-review-and-description-button{
    display: flex;
  }
  .for-description-and-review li{
    cursor: pointer;
    padding: 8px 8px;
    font-size: clamp(15px, 3.3vw, 20px);
    text-align: center;
    transition: all 0.3s ease;
    border: none;
    outline: none;
    border: 1px solid #2e2e2e;
  }
  .desc-button,.review-button{
  color: #2e2e2e;
  transition: all 0.3s ease;
  font-weight: 300;
  }
  .add-review{
    background-color: #007bff; 
    font-weight: bold;
    margin-left: 8px;
    color: #fff;
    transition: all 0.3s ease;
    border-radius: 5px;
  }
  .fordescription-and-review{
  border: 1px solid #2e2e2e;
  padding: 15px;
  width: 70%;
  height: 30vh;
  overflow-y: scroll;
  }
  .rating-div{
  margin-bottom: 5px;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.329);
  }
  .rating-div .name{
  font-size: 15px;
  color: black;
  font-weight: bold;
  }
  .add-review:hover{
    background-color: rgb(252, 73, 73);
  }
  .desc-button-active{
    background-color: rgba(252, 73, 73, 0.377);
  }
  .review-button-active{
    background-color: rgba(252, 73, 73, 0.377);
  }
  .desc-button:hover{
  background-color: rgba(252, 73, 73, 0.377);
  }
  .review-button:hover{
  background-color: rgba(252, 73, 73, 0.377);
  }
  .for-description-and-review p{
  font-size: 16px;
  word-spacing: 5px;
  line-height: 1.3;
  }
  .for-realated-products{
    margin-top: 10%;
    }
    .for-heading{
    margin-bottom:3%;
    }
    .for-heading h3{
      text-align: center;
    font-weight: 500;
    font-size: clamp(20px, 3.5vw, 50px);
    letter-spacing: 5px;
    color: #178ca4;
      
    }
    .for-products{
    display: grid;
    grid-template-columns: repeat(4,minmax(300px,1fr));
    gap: 10px;
    }
  @media(max-width:1025px){
  .product-display-main{
  margin-top: 15%;
  }
  .fordescription-and-review{
  height: 20vh;
  }
  }
  @media(max-width:764px){
  .product-display-main{
  margin-top: 20%;
  }
  .for-product-display{
  flex-direction: column;
  }
  .for-large-image{
  width: 50%;
  }
  .for-small-image{
  display: none;
  }
  .for-product-details{
  width: 100%;
  padding: 10px 5px;
  }
  .fordescription-and-review{
    height: 20vh;
    }
    .for-products{
      grid-template-columns: repeat(1,minmax(200px,1fr));
    }
  }
  
  @media(max-width:564px){
    .product-display-main{
      margin-top: 25%;
      }
      .fordescription-and-review{
      width: 95%;
      }
  }