.product-card {
    width: 250px; /* Reduced the width further */
    margin-left: 16px; /* Adjusted margin */
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
}

.stock {
    background-color: #777;
    text-align: center;
    color: white;
}

.out-of-stock {
    filter: grayscale(100%);
    pointer-events: none; 
}

.product-image {
    overflow: hidden;
    width: auto;
}

.product-card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.product-image img {
    width: 100%;
    height: auto;
    transition: all 0.5s ease;
    animation-name: move;
    display: block;
}

.product-card:hover .product-image img {
    transform: scale(1.1); /* Adjusted scale for hover effect */
}

.product-info {
    padding: 10px; /* Reduced padding */
    text-align: center;
}

.product-info h3 {
    font-size: 14px; /* Reduced font size */
    margin: 0 0 4px;
    color: #333;
}

.product-description {
    font-size: 11px; /* Reduced font size */
    color: #777;
    margin: 0 0 10px;
}

.product-price {
    font-size: 16px; /* Further reduced font size */
    font-weight: bold;
    color: #2c3e50;
    margin: 3px 0 10px;
}

.star-and-price {
    display: flex;
    gap: 16px; /* Adjusted gap */
    justify-content: space-evenly;
}

@media(max-width: 564px) {
    .product-card {
        display: flex;
        width: 280px; /* Adjusted width */
        max-height: 360px; /* Adjusted max height */
    }
    .product-image {
        width: 300px; /* Adjusted dimensions */
        height: 120px; /* Adjusted height */
        background-color: red;
    }
    .product-image img {
        height: 120px; /* Adjusted image height */
    }
    .star-and-price {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px; /* Adjusted gap */
    }
}
