.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    padding: 10px 20px;
    height: 60vh;
}
.logo{
    height: 40vh;
}
.login-btn{
    background-color: #ffff;
    color:#0000;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
}
.login-btn:hover{
    background-color: #0056b3;
}