/* navbar normal state */
.parent-navbar{
    display: flex;
    justify-content: space-between;
    z-index: 9999; 
    align-items: center;
    width: 100%;
    position: fixed;
    height: 10vh;
    top: 0;
    left: 0;
    }
    /* at the time of scrolling */
    .changecolor{
    background-color: #000C26;
    display: flex;
    justify-content: space-between;
    z-index: 9999; 
    align-items: center;
    width: 100%;
    position: fixed;
    height: 10vh;
    top: 0;
    left: 0;
    }
    /* icons container */
    .for-icons{
    display: flex;
    align-items: center;
    position: relative;
    }
    /* icon images */
    .for-icons img{
    width: clamp(24px,5vw,34px);
    margin: 0 clamp(20px,8vw, 40px);
    height: clamp(24px, 5vw, 34px);
    cursor: pointer;
    transition:all 0.3s ease;
    }
    .for-icons img:hover{
    transform: scale(1.2);
    }
    /* icons in active state */
    .for-icons .active{
    border :3px solid #178ca4;
    }
    .login-button{
    outline: none;
    margin: 0 clamp(40px,8vw,64px); 
    border: 2px solid white;
    font-size: 14px;
    padding: 4px 10px;
    background: transparent;
    cursor: pointer;
    color: white;
    font-weight: 600;
    transition: 0.5s ease;
    }
    .login-button:hover{
    border: 2px solid white;
    transform: scale(1.1);
    }
    .for-logo img{
    height: 80px;
    cursor: pointer;
    margin-left: 10px;
    }
    .for-list{
    position: absolute;
    right: 27%;
    top: 105%;
    }
    .for-list-colorchange{
        position: absolute;
        right: 27%;
        top: 105%;
        background-color: #000C26;
    }
    .navbar-content-li{
    margin: 10px;
    font-size: clamp(12px,1.3vw,18px);
    transition: all 0.3s ease;
    font-weight: bold;
    }
    .navbar-content-li:hover.navbar-content-li a{
    color: #178ca4;
    }
    .navbar-content-li a{
    color: #fff;
    padding: 3px;
    }
    
    .progress-bar {
        position: fixed;
        top: 9.1%;
        z-index: 99999;
        left: 0;
        right: 0;
        height: 5px;
        background:  #FF6F00;
        transform-origin: 0%;
      }
    .after-login-div{
    outline: none;
    margin: 0 clamp(40px,8vw,64px); 
    border: 1px solid white;
    font-size: 16px;
    padding: 6px 10px;
    background: violet;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: 0.5s ease;
    border-radius: 50%;
    }
    .sub{
    position: absolute;
    right: 5%;
    top: 78%;
    transition: all 0.5s ease;
    display: none;
    padding: 10px;
    margin: 5px;
    font-size: clamp(12px,1.3vw,18px);
    transition: all 0.3s ease;
    font-weight: bold;
    }
    .for-list-sub{
    background-color: #000C26;
    color: white;
    position: absolute;
    right: 5%;
    top: 78%;
    transition: all 0.5s ease;
    display: none;
    padding: 10px;
    margin: 5px;
    font-size: clamp(12px,1.3vw,18px);
    transition: all 0.3s ease;
    font-weight: bold;
    }
    .sub li{
    margin-top: 10px;
    transition: all 0.5 ease;
    cursor: pointer;
    }
    .for-list-sub li{
     margin-top: 10px;
     transition: all 0.5 ease;
     cursor: pointer;
    }
    .sub li:hover{
    color: #178ca4;
    }
    .for-list-sub li:hover{
    color: #178ca4;
    }
    .after-login-div:hover .for-list-sub{
    display: block;
    }
    .after-login-div:hover .sub{
    display: block;
    }
    @media(max-width:1034px){
    .for-icons img{
    margin: 15px;
    }
    .for-list{
        top: 95%;
        right: 24%;
    }
    .for-list-colorchange{
        top: 95%;
        right: 24%;
    }
    .login-button{
    margin: 30px;
    
    }
    .for-logo img{
    height: 50px;
    margin-left: 5px;
    }
    }
    
    @media(max-width:764px){
        .for-icons{
        margin-right: 85px;
        }
        .for-icons img{
        margin: 5px;
        }
        .login-button{
        margin: 8px;
        }
        .for-list{
            top: 105%;
            }
            .for-list-colorchange{
                top: 105%;
                }
        .for-logo img{
        height: 50px;
        margin-left: 0px;
        }
        }
        @media(max-width:564px){
            .for-icons{
            margin-right: 90px;
            }
            .for-icons img{
            margin: 5px;
            }
            .for-list{
                top: 102%;
                right: 20%;
                }
                .for-list-colorchange{
                    top: 102%;
                    right: 20%;
                    }
            .login-button{
            margin: 10px;
            }
            .for-logo img{
            height: 40px;
            margin-left: 0px;
            }
            }